body{
    background-color: #8ECAE6;
    }

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #FB8500;
    text-align: center;
    text-decoration: underline;
}
#p1{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 800;
    color: #023047;
    background-color: #FFB703;
    border-style: solid;
    border-color: #FB8500;
}
p.two{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #023047;
    font-weight: bolder;
}
ol{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 800;
    color: #023047;
    background-color: #FFB703;
    border-style: solid;
    border-color: #FB8500;
}

